<!-- <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 mt-3  border-top">

  <div class="col-md-4 d-flex align-items-center">

    <small>
      SphericalWave &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>.
    </small>

  </div>

  <div class="col-md-4 justify-content-end  d-flex">

    <a href="https://stackoverflow.com/users/519493/aaronium112" title="StackOverflow" target="blank">
      <i class="fab fa-stack-overflow fa-2x" style="display: inline-block; margin-right: 9px;"></i>
    </a>

    <a href="https://github.com/sphericalwave" title="Github" target="blank">
      <i class="fab fa-github fa-2x" style="display: inline-block; margin-right: 9px;"></i>
    </a>

    <a href="https://www.linkedin.com/in/aaron-mcgrath-9163b779/" title="LinkedIn" target="blank">
      <i class="fab fa-linkedin fa-2x" style="display: inline-block;"></i>
    </a>

  </div>

</footer> -->

<footer class="d-flex justify-content-between align-items-center py-3 mt-3 border-top">
  
  <div class="col-md-4">
    <small>
      SphericalWave &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>.
    </small>
  </div>
  
  <div class="col-md-4 d-flex justify-content-end">
    <a href="https://stackoverflow.com/users/519493/aaronium112" title="StackOverflow" target="_blank" class="social-link">
      <i class="fab fa-stack-overflow fa-2x"></i>
    </a>
    <a href="https://github.com/sphericalwave" title="Github" target="_blank" class="social-link">
      <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/aaron-mcgrath-9163b779/" title="LinkedIn" target="_blank" class="social-link">
      <i class="fab fa-linkedin fa-2x"></i>
    </a>
  </div>

</footer>
