<footer>
    <!-- {% avatar sphericalwave size=100 %} -->
    <!-- <small>Hi there! My name is Aaron.</small>
    <small>I'm Swift developer 👨🏻‍💻SwiftUI addicted 🚀</small>
    <small>Creator of
      <a href="https://sphericalwave.com/fu3l_landing/">fu3l</a>,
      <a href="https://napbot.swiftwithmajid.com">audiowave</a>,
      and
      <a href="https://sugarbot.swiftwithmajid.com">dwellify</a>.</small>

  <small>
    SphericalWave &copy; <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date: '%Y' }}</time>.
  </small>
</footer>
