<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="swift ios development apple watch iphone ipad swiftui macos uikit dev wwdc tutorial guide redux tea state container" />

  {% seo %}

  <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">
  <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/feed.xml">

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <script src="https://kit.fontawesome.com/1b735903d0.js" crossorigin="anonymous"></script>
</head>
