
  <header class="navbar navbar-expand-lg navbar-light bg-light">

        <a class="site-title ml-lg-3" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>


        <button class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <!-- <div class="navbar-nav-scroll"> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto mr-3">
            {% assign sorted_pages = site.pages | sort:"order" %}
            {% for page in sorted_pages %}
            <li class="nav-item">
              <a class="nav-link" href="{{page.url}}"> {{page.title}} </a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link " href="/" onclick="ga('send', 'event', 'Navbar', 'Community links', 'Bootstrap');">Home</a>
            </li> -->
            {% endfor %}
          </ul>
          </div>
        <!-- </div> <!--navbar-nav-scroll-->

</header>
