<header class="row bg-light pt-3">

        <div class="col-12 text-center">

          <img src="/assets/img/SphericalWave_500px.png" class="img-responsive " height=198 width=198>

          <h1>
            <a class="m-0" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
          </h1>





          <div class="pb-1">

              <a class="nav-link d-inline" href="/about.html"> About </a>

              <a class="nav-link d-inline" href="/shop.html"> Shop </a>

              <a class=" d-inline nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Hardware
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Aquatron</a>
                <a class="dropdown-item" href="#">Bedini Generator</a>
                <a class="dropdown-item" href="#">Fretlights</a>
              </div>

              <a class="d-inline nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Software
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">AudioWave</a>
                <a class="dropdown-item" href="#">ZeroPoint</a>
                <a class="dropdown-item" href="#">SWVideo</a>
              </div>

            </div>

            {%- include social.html -%}

          </div>

</header>
