<div class="subscribe-form">
    <div class="row">

        <div class="col-8">
            <h5>Spherical Wave</h5>
            <h2>Not a subscriber?</h2>
            <p>Join the email list and download "How to Psyop Yourself for Success" instantly. Learn how to align your self-image with your goals and succeed for sure.</p>

            <form>
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email" aria-describedby="email-submit">
                  <button class="btn btn-primary" type="button" id="email-submit">Submit</button>
                </div>
            </form>

        </div>

        <div class="col-4">
            <img src="public/psyop-for-success.webp" class="img-fluid rounded">
        </div>

    </div>
</div>
