<div class="subscribe-form">
    <div class="row align-items-center">

        <div class="col-8">
            <h5>Spherical Wave</h5>
            <h2>Be like Water My Friend</h2>
            <p>Join the email list to receive our mind expanding newsletter about jiujitsu, philosophy, bioMechanics and bioElectricity every Saturday.</p>

            <form class="my-3">
                <div class="input-group">
                  <input type="email" class="form-control" placeholder="Enter your email" aria-label="Email" aria-describedby="email-submit">
                  <button class="btn btn-primary" type="button" id="email-submit">Submit</button>
                </div>
            </form>

            <p>Download "How to Psyop Yourself" instantly as a welcome bonus.</p>

        </div>

        <div class="col-4">
            <img src="public/psyop-for-success.webp" class="img-fluid rounded">
        </div>

    </div>
</div>
