<!-- <div class="col-md-4 d-flex justify-content-end align-items-center"> -->
    <a href="https://stackoverflow.com/users/519493/aaronium112" title="StackOverflow" target="_blank" class="social-link">
        <i class="fab fa-stack-overflow fa-2x"></i>
    </a>
    <a href="https://github.com/sphericalwave" title="Github" target="_blank" class="social-link">
        <i class="fab fa-github fa-2x"></i>
    </a>
    <a href="https://www.linkedin.com/in/aaron-mcgrath-9163b779/" title="LinkedIn" target="_blank" class="social-link">
        <i class="fab fa-linkedin fa-2x"></i>
    </a>
    <a href="https://www.reddit.com/user/SphericalWave/" title="Reddit" target="_blank" class="social-link">
        <i class="fab fa-reddit fa-2x"></i>
    </a>
    <a href="https://www.youtube.com/@sphericalwave" title="YouTube" target="_blank" class="social-link">
        <i class="fab fa-youtube fa-2x"></i>
    </a>
    <a href="https://x.com/Sphericalwave" title="X" target="_blank" class="social-link">
        <i class="fas fa-times fa-2x"></i>
    </a>
    <a href="https://www.instagram.com/sphericalwave9" target="_blank" title="Share on Instagram" class="social-link">
        <i class="fab fa-instagram fa-2x"></i>
    </a>
    <a href="https://soundcloud.com/spherical_wave/tracks" title="SoundCloud Profile" target="_blank"
        class="social-link">
        <i class="fab fa-soundcloud fa-2x"></i>
    </a>

<!-- </div> -->