<header>

  <nav class="navbar navbar-expand-lg navbar-custom">

    <div class="container">
  
      <a class="navbar-brand sw-brand" href="{{ site.baseurl }}/">
        <img src="/public/SphericalWaveC60-nav.png" alt="sphericalWave" class="white-shadow-hover" loading="eager" decoding="async">
        <span class="sw-brand__name"><span>sphericalwave</span><span class="sw-brand__sub">systems</span></span>
      </a>
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-lg-center">

          <li class="nav-item dropdown">
            <a href="{{ site.baseurl }}/services/" class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">Services</a>
            <ul class="dropdown-menu dropdown-menu-dark">
              <li><a class="dropdown-item" href="{{ site.baseurl }}/websites/">Websites &amp; SEO</a></li>
              <li><a class="dropdown-item" href="{{ site.baseurl }}/apps/">iOS Apps</a></li>
              <li><a class="dropdown-item" href="{{ site.baseurl }}/surveys/">Surveys</a></li>
              <li><a class="dropdown-item" href="{{ site.baseurl }}/accounting/">Accounting &amp; Invoicing</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ site.baseurl }}/tamarack/">Tamarack — Project Software</a></li>
              <li><a class="dropdown-item" href="{{ site.baseurl }}/grants-martial-arts/">Grant's Martial Arts</a></li>
            </ul>
          </li>


          <li class="nav-item">
            <a href="/fitwrench/" class="nav-link">FitWrench</a>
          </li>
          <li class="nav-item">
            <a href="{{ site.baseurl }}/about/" class="nav-link">About</a>
          </li>

          <li class="nav-item">
            <a href="{{ site.baseurl }}/contact/" class="nav-link">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  

</header>
