<header class="masthead">

  <h1 class="masthead-title">
    <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
  </h1>

  <nav>
    <div>
      <a href="/categories" title="Categories">Categories</a>
      <a href="/archive" title="Archive">Archive</a>
      <a href="/iOS" title="iOS Apps">iOS Apps</a>

      <!-- <a href="http://weekly.swiftwithmajid.com" title="SwiftUI Weekly">SwiftUI Weekly</a> -->

      <a href="{{ site.baseurl }}/about.html">About</a>
    </div>
  </nav> 

 </header>
