
<a href="{{post.url | prepend: site.baseurl}}">
<div class="card mb-3">
  <img class="card-img-top" src="{{post.image}}" alt="Card image cap">
  <div class="card-body py-1 px-2">

    <a href="{{post.url | prepend: site.baseurl}}">
      <h5 class="card-title mb-0">{{post.title}}</h5>
    </a>

    <!--  Show Formatted Tags -->
    <ul class="tags p-0 mb-0">
      {% for tag in post.tags %}
        <li>{{tag | downcase | replace:" ","-" }}</li>
      {% endfor %}
    </ul>

    <p class="card-text"><small class="text-muted">{{ post.date | date_to_string: "ordinal", "US" }}</small></p>
  </div>
</div>
</a>
