<div class="share-buttons">

  <a
    href="https://twitter.com/intent/tweet?url={{ page.url | absolute_url }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share on X"
  >
    <i class="fab fa-x-twitter"></i>
  </a>

  <a
    href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share on Facebook"
  >
    <i class="fab fa-facebook"></i>
  </a>

  <a
    href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share on Reddit"
  >
    <i class="fab fa-reddit"></i>
  </a>

  <a
    href="https://www.linkedin.com/sharing/share-offsite/?url={{ page.url | absolute_url }}"
    target="_blank"
    rel="noopener noreferrer"
    title="Share on LinkedIn"
  >
    <i class="fab fa-linkedin"></i>
  </a>

  <a
    href="mailto:?subject=Check%20out%20this%20link&body=Here's%20a%20link%20I%20thought%20you%20might%20like:%20{{ page.url | absolute_url }}"
    title="Share by email"
  >
    <i class="fas fa-envelope"></i>
  </a>

</div>
