<div class="share-buttons">
  <a href="https://www.instagram.com/share?url={{ page.url | absolute_url }}" target="_blank" title="Share on Instagram"><i class="fab fa-instagram"></i></a>
  <a href="https://twitter.com/share?url={{ page.url | absolute_url }}" target="_blank" title="Share on Twitter"><i class="fab fa-twitter"></i></a>
  <a href="https://www.facebook.com/sharer/sharer.php?u={{ page.url | absolute_url }}" target="_blank" title="Share on Facebook"><i class="fab fa-facebook"></i></a>
  <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url }}" target="_blank" title="Share on Reddit"><i class="fab fa-reddit"></i></a>
  <a href="mailto:?subject=Check%20out%20this%20link&body=Here's%20a%20link%20I%20thought%20you%20might%20like:%20{{ page.url | absolute_url }}"><i class="fas fa-envelope"></i></a>
  <a href="https://www.linkedin.com/shareArticle?url={{ page.url | absolute_url }}" target="_blank" title="Share on LinkedIn"><i class="fab fa-linkedin"></i></a>
</div>
