<div class="text-center">

  <!-- <h6>Solutions!</h6> -->

  <a href="/psyop">
    <img src="public/psyop-for-success.webp"
      class="img-fluid rounded blue-shadow-hover mb-3">
  </a>
  
  <!-- <h6>BioMechanics</h6> -->
  <a href="/biomechanics">
    <img src="public/bioMechanicsBook1.webp"
      class="img-fluid rounded mb-3 blue-shadow-hover">
  </a>

  <!-- <h6>BioElectricity</h6> -->
  <a href="/bioelectricity">
    <img src="public/bioElectricityBook1.webp" 
      class="img-fluid rounded mb-3 blue-shadow-hover">
  </a>
  <!-- <p>
    <a href="/about" class="strong-link">SphericalWave</a>
      optimizes systems for jiujitsu & MMA athletes.
  </p> -->

  <!-- <h6>FitWrench</h6> -->
  <a href="/fitwrench">
    <img src="/public/fitwrench/1024_Icon.png" 
      class="img-fluid rounded mb-3 blue-shadow-hover">
  </a>

  <!-- <h6>AudioWave</h6> -->
  <a href="/audiowave">
    <img src="/public/audiowave/app_icon.png" 
      class="img-fluid rounded mb-3 blue-shadow-hover">
  </a>

  <!-- <h6>SphericalWave</h6> -->
  <a href="/about">
    <img src="/public/aaron/2023-12-12 small_headshot.JPG" 
      class="img-fluid rounded mb-3 blue-shadow-hover">
  </a>

</div>