<div class="sidebar-container">

    <img src="/public/aaron/2023-12-12 small_headshot.jpg" alt="Profile Picture" class="w-50 img-fluid rounded-circle mx-auto d-block" style="border: 2px solid #007bff; border-radius: 4px;">
    
    <h5>Who is Aaron?</h5>

    <p>
      I am a writer & brand advisor for 7-8 figure creators, influencers, and social media brands. 
      <strong>I am obsessed with dissecting human potential, lifestyle design, and one-person businesses.</strong>
    </p>

    <h5>When You're Ready, Here's How I Can Help You</h5>
    <img src="/public/2024-06-18-blue-journal.jpeg" alt="Profile Picture" class="img-fluid mx-auto d-block">

    <h5>The FOCI Planner</h5>
    <p>Goals are important. If you want help reverse engineering your vision into bite-sized goals and tasks - <strong>order The FOCI Planner.</strong></p>

    <button type="button" class="btn">Order Now</button>

    <img src="/public/2024-06-18-blue-journal.jpeg" alt="Profile Picture" class="img-fluid mx-auto d-block">

    <h5>The Art of Focus Book</h5>
    <p>
      <strong>Find meaning, reinvent yourself, and create your ideal future.</strong> 
      Now available on Amazon.
    </p>

    <button type="button" class="btn">Get the Book</button>

    <h5>The Art of Focus Book</h5>
    <p>
      <strong>Find meaning, reinvent yourself, and create your ideal future.</strong> 
      Now available on Amazon.
    </p>

    <button type="button" class="btn">Get the Book</button>

    <h5>The Art of Focus Book</h5>
    <p>
      <strong>Find meaning, reinvent yourself, and create your ideal future.</strong> 
      Now available on Amazon.
    </p>

    <button type="button" class="btn">Get the Book</button>

    <h5>The Art of Focus Book</h5>
    <p>
      <strong>Find meaning, reinvent yourself, and create your ideal future.</strong> 
      Now available on Amazon.
    </p>

    <button type="button" class="btn">Get the Book</button>

</div>