<div>

  <a href="/biomechanics">
    <img src="public/bioMechanicsBook1.webp"
      class="img-fluid rounded mb-3">
  </a>

  <img src="public/bioElectricityBook1.webp" class="img-fluid rounded mb-3">

  <!-- <p>
    <a href="/about" class="strong-link">SphericalWave</a>
      optimizes systems for jiujitsu & MMA athletes.
  </p> -->

  <img src="/public/fitwrench/1024_Icon.png" alt="Profile Picture"
    class="img-fluid rounded mb-3">

    <a href="/about">
      <img src="/public/aaron/2023-12-12 small_headshot.JPG" alt="Profile Picture" class="img-fluid rounded mb-3">
    </a>

</div>