<!-- <div class="social-links"> -->

  <ul class="social-media-list p-0">

    <a class="btn" href="https://www.instagram.com/sphericalwave9">
        <i class="fab fa-instagram fa-2x"></i>
    </a>

    <a class="btn" href="#">
      <i class="fab fa-youtube fa-2x"></i>
    </a>

    <a class="btn" href="#">
      <i class="fas fa-rss fa-2x"></i>
    </a>

    <a class="btn" href="https://www.facebook.com/maxwellfaraday88">
      <i class="fab fa-facebook-square fa-2x"></i>
    </a>

    <a class="btn" href="mailto:aaron@sphericalwave.com">
      <i class="fas fa-paper-plane fa-2x"></i>
    </a>

    <a class="btn" href="https://soundcloud.com/spherical_wave">
      <i class="fab fa-soundcloud fa-2x"></i>
    </a>

    <a class="btn" href="https://stackoverflow.com/users/519493/aaronium112">
      <i class="fab fa-stack-overflow fa-2x"></i>
    </a>

    <a class="btn" href="https://github.com/sphericalwave">
      <i class="fab fa-github fa-2x"></i>
    </a>

  </ul>

<!-- </div> -->
