<div class="subscribe-form">

    <h2>Not a subscriber?</h2>
    <p>Join 140,000+ getting mindf*cked every Saturday morning while reading The Koe Letter (you’ll learn a bit about
        life & business too.)</p>

    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Your email" aria-label="Recipient's username"
            aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button">Read For Free</button>
        </div>
    </div>
</div>