// Body resets
//
// Update the foundational and global aspects of the page.

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  color: lightgray;
  background-color: $body-bg;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    //text-decoration: underline;
    color: $gray-1;
  }

  &:active {
    //text-decoration: underline;
    color: yellow;
  }
}

//bootstrap customizations
.nav-link {

  color: $gray-1;

  &:hover {
    // text-decoration: underline;
    color: $gray-5;
    font-size: 1.1em;
  }
}

.navbar-brand {
  color: white;
}

button {
  background-color: $swBlue !important; 
  border-color: $swBlue !important; 
  color: white !important;
  font-size: 1rem !important;

  &:hover {
    background-color: $gray-5 !important;
    // font-size: 1.1rem !important;
  }
}

.blockquote {
  padding: 1rem;
  background-color: lightgray;
  border: 1px solid #007bff;
  /* Bootstrap primary color */
  border-left: 5px solid #007bff;
  /* Bootstrap primary color */
}

.blockquote p {
  margin-bottom: 1rem;
  /* Remove default margin */
}

/* Large rounded green border */
hr.blue1 {
  border: 3px solid $swBlue;
  border-radius: 1px;
  opacity: 1; /* Ensure opacity is fully opaque */
  width: 100%;
  // margin: 0 0 1rem 0;
  margin: 0;
}

  /* Default style for the element */
  .desktop-only {
    display: block; /* or any other display property */
  }

  /* Media query for screens smaller than 768px (typical mobile devices) */
  @media (max-width: 767px) {
    .desktop-only {
      display: none; /* Hide the element on smaller screens */
    }
  }

  @media (max-width: 767px) {
    .center-mobile {
      justify-content: center !important;
      text-align: center;
    }
  }

.blue-shadow-hover:hover {
  box-shadow: 0 0 10px 5px $swBlue;
}

.white-shadow-hover:hover {
  box-shadow: 0 0 10px 5px $gray-1;
}