// Body resets
//
// Update the foundational and global aspects of the page.

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  color: lightgray;
  background-color: $body-bg;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    //text-decoration: underline;
    color: $gray-1;
  }

  &:active {
    //text-decoration: underline;
    color: yellow;
  }
}

//bootstrap customizations
.nav-link {

  &:hover {
    // text-decoration: underline;
    color: $gray-1;
  }
}

.navbar-brand {
  color: white;
}

//blog btn
// .button {
//   display: block;
//   padding: 1rem;
//   border: solid $gray-4;
//   border-width: 1px 0;
// }

.blockquote {
  padding: 1rem;
  background-color: lightgray;
  border: 1px solid #007bff;
  /* Bootstrap primary color */
  border-left: 5px solid #007bff;
  /* Bootstrap primary color */
}

.blockquote p {
  margin-bottom: 1rem;
  /* Remove default margin */
}

/* Large rounded green border */
hr.blue1 {
  border: 3px solid $swBlue;
  border-radius: 1px;
  opacity: 1; /* Ensure opacity is fully opaque */
  width: 100%;
  // margin: 0 0 1rem 0;
  margin: 0;
}

  /* Default style for the element */
  .desktop-only {
    display: block; /* or any other display property */
  }

  /* Media query for screens smaller than 768px (typical mobile devices) */
  @media (max-width: 767px) {
    .desktop-only {
      display: none; /* Hide the element on smaller screens */
    }
  }
