// Body resets
//
// Update the foundational and global aspects of the page.

html {
  font-family: $root-font-family;
  font-size: $root-font-size;
  line-height: $root-line-height;

  @media (min-width: $large-breakpoint) {
    font-size: $large-font-size;
  }
}

body {
  color: lightgray;
  background-color: $body-bg;
}

a {
  color: $link-color;
  text-decoration: none;

  &:hover {
    //text-decoration: underline;
    color: $gray-1;
  }

  &:active {
    //text-decoration: underline;
    color: yellow;
  }
}

//bootstrap customizations
.nav-link {
  
  &:hover {
    // text-decoration: underline;
    color: $gray-1;
  }
}

.navbar-brand {
  color: white;
}

.img-thumbnail {
  background-color: $gray-5;
  border: $gray-5;  

  &:hover {
    //text-decoration: underline;
    border: white;
  }
}

//blog btn
// .button {
//   display: block;
//   padding: 1rem;
//   border: solid $gray-4;
//   border-width: 1px 0;
// }

.blockquote {
  padding: 1rem;
  background-color: lightgray;
  border: 1px solid #007bff; /* Bootstrap primary color */
  border-left: 5px solid #007bff; /* Bootstrap primary color */
}

.blockquote p {
  margin-bottom: 1rem; /* Remove default margin */
}