.card-custom {
    background-color: #000;
    /* Black background */
    color: #fff;
    /* White text */
    border: 0.12rem solid #4169e1;
    /* Royal blue border */
}

.card-custom .card-header,
.card-custom .btn {
    background-color: #4169e1;
    /* Royal blue background for header and button */
    color: #fff;
    /* White text */
}

.card-custom .card-header {
    border-bottom: 2px solid #4169e1;
    /* Royal blue border for header */
}

.card-custom .btn:hover {
    background-color: #27408b;
    /* Darker royal blue for hover effect */
    border-color: #27408b;
}

.card .card-title {
    margin-bottom: 0;
    /* Override the default margin-bottom */
    margin-top: 0;
    /* Override the default margin-bottom */
}

.card-text {
    font-size: 0.6rem;
    margin: 0;
    color: $gray-2;
}

.card .card-body {
    padding: 0.5rem;
}

//btn used in post card
.custom-btn-blue {
    background-color: #007bff;
    /* Bootstrap's primary blue color */
    color: #fff;
    /* White text */
    border-color: #007bff;
    /* Matching border color */
    font-size: 0.8rem;
    padding: 0.3rem;
}

.custom-btn-blue:hover {
    background-color: #0056b3;
    /* Darker shade of blue on hover */
    border-color: #0056b3;
}

.card .underline-text {
    text-decoration: underline;
    color: white;
    font-size: 0.7rem;
}


.share-buttons {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;
}

.share-buttons a {
    color: darkgray;
}

.share-buttons a:hover {
    color: $swBlue;
}