.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin: 1rem 0;
    /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #000;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0.6rem;
        /* Adjust the value as needed */
    }
}

.thumbnail-container {
    position: relative;
    padding-bottom: 100%;
    height: 0;
    display: block;

    // img {
    //     position: absolute; //Positions the image within the container, ensuring it covers the full area.
    //     width: 100%;
    //     height: 100%;
    //     object-fit: cover; //ensure the image fills the square container while maintaining its aspect ratio.
    //     object-position: center; //ensure the image fills the square container while maintaining its aspect ratio.
    
    //     background-color: transparent;
    //     border-color: transparent;
    //     border-radius: 0.6rem;
    
    //     &:hover {
    //         border: $swBlue;
    //     }
    // }
}



.background-c60 {
    background-image: url('/public/SphericalWaveC60.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* height: 50vh; */
    // display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
    /* Other styles can be added as needed */
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-pic {
    width: 100%;
    height: auto; /* Maintain the aspect ratio */
    border: 6px solid $swBlue;
    border-radius: 50%; /* Make the image a circle */
    object-fit: cover; /* Ensure the image covers the entire container */

    @media (max-width: 900px) {
        width: 50%;
    }

    // &:hover {
    //     border: 3px solid $swBlue;
    // }
}

// .appstore-link {
//   display: inline-block;
// }

.appstore-image {
    transition: border 0.3s ease;
    border: 0px solid transparent;
    border-radius: 0.6rem;
    /* Add rounded corners */
    margin: 0.5rem 0 0 0;
}

.appstore-link:hover .appstore-image {
    border: 3px solid $swBlue;
    /* Add the swBlue border on hover */
}

/* Media query for mobile screens */
@media (max-width: 576px) {
    .appstore-image {
        width: 50% !important;
    }
}
  
  .widescreen-container {
    width: 100%;
    height: 300px;
    // background: radial-gradient(circle, $gray-5, $swBlue);
    background: radial-gradient(circle, $gray-5 10%, $swBlue 81%);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 0.6rem; /* Add rounded corners */
    
    &:hover {
        box-shadow: 0 0 10px 5px $swBlue;
    }
  }
  
  .centered-image {
    max-width: 90%;
    max-height: 90%;
    border-radius: 1rem; /* Set corner radius to 1rem */
  }
  