// Layout
//
// Styles for managing the structural hierarchy of the site.

.container {
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $swBlue; //red;
  color: white;
  text-align: center;
  margin: 1 rem;
  padding-block: 20px; /*vertical padding */
}

footer small {
  display:block;
}

footer img.avatar {
  margin: 1 rem auto 1rem;
  //border-radius: 50%;  //round border
}

header {
  //background-color: $swBlue; //red;
  background: $swBlue; //red;

  //position: fixed;
  //left: 0;
  //bottom: 0;
  width: 100%;

  //color: white;
  //text-align: center;
  //margin: 1 rem;
  //padding-block: 20px; /*vertical padding */
}