// Layout
//
// Styles for managing the structural hierarchy of the site.

.wrapper { 
  //key to get the footer where i wanted it
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex-grow: 1; //key to get the footer where i wanted it
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;
}

footer {
  width: 100%;
  background-color: $swBlue; //red;
  color: white;
  text-align: center;
  padding-block: 9px; /*vertical padding */
  line-height: 1rem;
}

footer small {
  display:block;
  font-size: 12px;
}

footer a {
  color: white;
  text-decoration: none;
  font-size: 2rem;
}

footer a:hover {
  color: white;
}

footer img.avatar {
  margin: 1 rem auto 1rem;
  //border-radius: 50%;  //round border
}

header {
  background: $swBlue; //red;
  width: 100%;
}

.appStore {
  height: 54px;
  margin-top: 9px;
}

.center-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}