// Masthead

header {
  background: $swBlue; //red;
  width: 100%;
}

.masthead {
  //shared with container for page
  padding:    1rem;
  max-width: 38rem;
  margin-left:  auto;
  margin-right: auto;

  a {
    color: inherit;
    margin-right: 1rem;

    &:hover {
      color: white;
      text-decoration: none;
    }
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-1;

  @media (max-width: 767px) {
    width: 100%;
  }

  small {
    font-size: 75%;
    font-weight: 400;
  }
}
