// Masthead

.masthead {
  padding-top:    1rem;
  padding-bottom: 1rem;
  //these are shared with container
  max-width: 38rem;
  padding-left:  1.5rem;
  padding-right: 1.5rem;
  margin-left:  auto;
  margin-right: auto;

  a {
    color: inherit;
    margin-right: 1rem;
  }

  nav {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;

  }
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  color: $gray-1;

  @media (max-width: 767px) {
    width: 100%;
  }

  small {
    font-size: 75%;
    font-weight: 400;
  }
}
