/* Custom Navbar Styles */
.navbar-custom {
    background-color: $swBlue;
    padding: 0;
  }

  .navbar-custom .navbar-nav {
    align-items: center;
    @media (min-width: 992px) {
      height: 100px;
    }
  }

  .navbar-custom .navbar-collapse {
    @media (max-width: 991.98px) {
      padding-bottom: 1rem;
    }
  }

  .navbar-custom .nav-item {
    display: flex;
    align-items: center;
  }
  
  .navbar-custom .navbar-brand {
    padding: 6px 0;
  }

  .navbar-custom .navbar-brand img {
    height: 72px;
    width: auto;
  }

.sw-brand {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  &__name {
    font-size: 1.55rem;
    font-weight: 500;
    color: white;
    line-height: 1;
  }
}
  
  