.subscribe-form {
    // max-width: 500px;
    // margin: 0.5rem 0.5rem 0 0;
    // background-color: #f9f9f9;
    margin: .5rem 0;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}

.subscribe-form h2 {
    font-size: 1.5rem;
    margin: 0;
}

.subscribe-form p {
  font-size: 0.8rem;
  // margin-bottom: 1rem;
}

.subscribe-form .form-group {
  // margin-bottom: 1rem;
}

.subscribe-form input[type="email"] {
  // width: 80%;
  // padding: 0.5rem;
  // padding: 0.1rem;
  // margin-bottom: 1rem;
}

.subscribe-form button {
  width: 100%;
  padding: 0.5rem;
  background-color: $swBlue;
  color: white;
  border: none;
  // border-radius: 5px;
  font-size: 1rem;
}

.subscribe-form button:hover {
  background-color: #0056b3;
}

.subscribe-form .input-group {
  display: flex;
  align-items: center;
}

.subscribe-form .form-control {
  margin-right: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}