.subscribe-form {
    // max-width: 500px;
    // margin: 0.5rem 0.5rem 0 0;
    // background-color: #f9f9f9;
    margin: .5rem 0;
    // padding: 0.5rem;
    // border: 1px solid $gray-2;
    // border-radius: 5px;
    text-align: left;
}

.subscribe-form button {
  padding: 0.5rem;
  background-color: $swBlue;
  color: white;
  font-size: 1rem;
}

.subscribe-form button:hover {
  background-color: #0056b3;
}

.subscribe-form .input-group {
  display: flex;
  align-items: center;
}