// .apps {

// }


  
.project_summary {
  background-color: rgb(40, 38, 38);
  transition: transform .2s; /* Animation */
  //padding: 1rem;
  border-radius: 6px;
  //margin: 1rem;
  //width: 300px;  /* Or whatever */
  //height: 300px; /* Or whatever */
  //margin: auto;  /* Magic! */

  //flex: 0 0 33.333333%;
  flex-basis: 31%; // For 3 items in a row.

  //justify-content: space-between;
  //column-gap: 9px;

  &:hover {
    transform: scale(1.03);
  }
}

.tag-cloud {
  display: inline-block;
  color: white;
  padding: 0px 6px;
  border-radius: 3px;
  background-color: $swBlue;
  font-size: 14px;
}

/* Style buttons */
//github repo is example
.btn {
  background-color: white;
  border: none;
  //color: royalblue; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 18px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
  border-radius: 3px;

  &:hover {
    background-color: RoyalBlue;
  }
}


