---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

.pagination a, .pagination span {
    padding: 7px 18px;
    border: 1px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: #333;
    }
 }

.pagination {
    text-align: center;
 }

 .tags li { display:inline; padding: 0 4px; background: #EEEE }

 a {
   color: $link-base-color;
   text-decoration: none;

   &:visited {
     color: $link-visited-color;
   }

   &:hover {
     color: $link-hover-color;
     text-decoration: underline;
   }

   .social-media-list &:hover {
     text-decoration: none;

     .username {
       text-decoration: underline;
     }
   }
 }
