<!DOCTYPE html>
<html lang="en">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    <!-- <div class="social-links"> -->
      {%- include social.html -%}
    <!-- </div> -->

    <div class="container">
      <div class="row">
        <div class="col text-left pt-3">

          <main aria-label="Content">
            {{ content }}
          </main>



        </div> <!-- col -->
      </div>  <!-- row -->

      <div class="row">
        <div class="col text-center">
          {%- include footer.html -%}
        </div> <!-- col -->
      </div>  <!-- row -->

      {%- include bootstrap-includes.html -%}

    </div>    <!-- container -->

  </body>

</html>
