---
layout: default
---

<script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "46688902",
    formId: "92290755-a40e-424b-8901-4f3e40a53ded"
  });
</script>

<div class="row justify-content-between">

  <div class="col-auto">
    {% include timeStamp.html %}
    {% include share_buttons.html %}

  </div>

  <!-- TODO: this is almost exactly the same as tagCloud.html -->
  <div class="col-auto">

    <div>
      {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}" class="tag-cloud"><span>{{ tag }}</span></a>
      {% endfor %}
    </div>
  </div>

</div>

<div class="row">
  <div class="col">
    <article>

      <h1>{{ page.title }}</h1>

      {{ content }}
      {% include share_buttons.html %}
      {% include related_posts.html page=page%}
      {% include subscribe.html %}

    </article>
  </div>

  <!-- sidebar -->
  <!-- <div class="col-md-3">
    {% include sidebar.html %}
  </div> -->

</div>