---
layout: default
---

<!-- <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/embed/v2.js"></script>
<script>
  hbspt.forms.create({
    region: "na1",
    portalId: "46688902",
    formId: "92290755-a40e-424b-8901-4f3e40a53ded"
  });
</script> -->

<div class="row justify-content-between">
  <div class="col-12 d-flex justify-content-between align-items-end">
    <div>
      <h3>{{ page.title }}</h3>
      
    </div>

    <div class="d-flex flex-column align-items-end">
      <div>
        {% include timeStamp.html %}
      </div>

      <div>
        <!-- Tags section -->
        {% for tag in page.tags %}
        <a href="{{ site.baseurl }}/tag/{{ tag | slugify }}" class="tag-cloud"
          ><span>{{ tag }}</span></a>
        {% endfor %}
      </div>
      <div>
        {% include share_buttons.html %}
      </div>
    </div>
  </div>
</div>
<hr class="blue1 mb-3"/>




<article>
  {{ content }}
  <hr class="blue1 mb-3 mt-1" />
  {% include share_buttons.html %} {% include related_posts.html page=page%} 
</article>
